*.err
*.py[oc]
*.sw[op]
*.tasks
*.log
*.egg-info/
.Python
MANIFEST
bib.py
coverage.sh
testbibpy.py
.DS_Store
.cache/
.coverage
.mypy_cache/
.tox/
.pytest_cache/
__pycache__/
backup/
build/
crossref_tests/
docs/
htmlcov/
grammar.txt
xml_tests/
venv/
framework37/
venv*/
fixtures/
